<h2 mat-dialog-title>{{ data.name }}</h2>
<mat-dialog-content>
  <dl class="detail-list">
    <dt>{{ 'sdwanEdges.fields.code' | translate }}</dt>
    <dd>{{ data.code }}</dd>

    <dt>{{ 'sdwanEdges.fields.datacenter' | translate }}</dt>
    <dd>{{ data.datacenterName }}</dd>

    <dt>{{ 'sdwanEdges.fields.vendor' | translate }}</dt>
    <dd>{{ data.vendor }}</dd>

    @if (data.model) {
      <dt>{{ 'sdwanEdges.fields.model' | translate }}</dt>
      <dd>{{ data.model }}</dd>
    }

    <dt>{{ 'sdwanEdges.fields.wanLinkCount' | translate }}</dt>
    <dd>{{ data.wanLinkCount }}</dd>

    <dt>{{ 'sdwanEdges.fields.status' | translate }}</dt>
    <dd>{{ 'sdwanEdges.status.' + data.status | translate }}</dd>

    @if (data.managementIp) {
      <dt>{{ 'sdwanEdges.fields.managementIp' | translate }}</dt>
      <dd>{{ data.managementIp }}</dd>
    }

    @if (data.notes) {
      <dt>{{ 'sdwanEdges.fields.notes' | translate }}</dt>
      <dd>{{ data.notes }}</dd>
    }
  </dl>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button type="button" class="dialog-button" (click)="close()">
    {{ 'common.close' | translate }}
  </button>
</mat-dialog-actions>
