<div class="page">
  <div class="page-header">
    <h1>{{ 'overlayTunnels.pageTitle' | translate }}</h1>
    <button type="button" class="add-button" (click)="onCreate()">
      <mat-icon fontSet="material-symbols-outlined">add</mat-icon>
      {{ 'overlayTunnels.addNew' | translate }}
    </button>
  </div>

  <app-data-table
    [columns]="columns"
    [data]="data()"
    [totalCount]="totalCount()"
    [loading]="loading()"
    [hideDelete]="true"
    (page)="onPage($event)"
    (sortChange)="onSort($event)"
    (searchChange)="onSearch($event)"
    (view)="onView($event)"
    (edit)="onEdit($event)"
    (exportCsv)="onExportCsv()"
  />
</div>
